.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

h3 {
  font-weight: normal;
}

p {
  font-size: 12px;
}

.page-title {
  color: #a3aaae;
}

#copyButton {
  display: none;
}

#recentLinkListContainer {
  display: none;
  margin-top: 40px;
}

#existingLinksListContainer {
  margin-top: 40px;
}